@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap');

body, html{
  margin: -0.5% 0%;
  height: 100%;
  position:relative;
}

header{
  height: 10rem;
  width: 100%;
  overflow: hidden;
  background: rgba(157, 34, 53, 255);
  overflow: hidden;
  background-position: center;
  display: inline-grid;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: rgba(255, 255, 255, 255);
  text-shadow: -1px 0 gray, 0 -1px gray, 1px 0 gray, 0 0px gray;
  letter-spacing: 3px;
}

header img{
  text-align: left;
  width: 20%;
  transform: translate(0, 19%);
}

header h2{
  text-align: right;
  font-weight: 900;
  transform: translate(-10%, -400%);
}

header h3{
  font-weight: 900;
  text-align: right;
  transform: translate(-3%, -500%);
}

header table{
  text-align: center;
  transform: translate(20%, -470%);
}

header table tr td{
  float: left;
  padding: 1px 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header table tr td a{
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 255);
}

header table tr td:hover{
  background-color:#b78e6c;
}

header table tr td:active{
  color: black;
  background-color:#b78e6c;
}

footer{
  height: 9rem;
  width: 100%;
  overflow: hidden;
  background: rgba(157, 34, 53, 255);
  background-size: cover;
  background-position: center;
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 255);
  /* Incase of textshadow */
  text-shadow: -1px 0 gray, 0 -1px gray, 1px 0 gray, 0 0px gray;
  letter-spacing: 3px;
}



footer a{
  text-decoration: none;
  color: rgba(255, 255, 255, 255);
  font-family: Montserrat, cursive;
  font-weight: 300;
}

.logo{
  width: 15%;
  transform: translate(0%, 28%);
}

.info{
  padding: 0% 1%;
  float: right;
}

.innhold{
  height: 100%;
  font-family: Montserrat, sans-serif;
  text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 -1px black;
  margin-top: -1.287%;
  margin-bottom: -0.2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../Bilder/lan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
}

.innhold img{
  width: 75%;
  justify-content: center;
  align-items: center;
  transform: translate(17%, 20%);
  opacity: 95%;
}

.butikk{
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Bilder/lan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.produkt{
  text-align: center;
  text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 -1px black;
}

.produkt p{
  font-family: Montserrat, cursive;
  font-weight: 600;
  transform: translate(0, -20px);
  color: white;
}

.produkt img{
  width: 200px;
  height: 250px;
  object-fit: scale-down;
}

.produkt img:hover{
  width: 280px;
  height: 350px;
}

.om {
  margin-top: -1.5494%;
  color: white;
  font-size: 120%;
  justify-content: center;
  align-content: center;
  transform: translate(0, 15%);
}

.om p{
  font-size: 150%;
}
