@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body, html{
  height: 100%;
}

header{
  height: 20%;
  width: 100%;
  background: rgba(157, 34, 53, 255);
  background-size: cover;
  background-position: center;
  display: inline-grid;
  font-family: Montserrat,cursive;
  color: rgba(255, 255, 255, 255);
  /* Incase of textshadow */
  text-shadow: -1px 0 gray, 0 -1px gray, 1px 0 gray, 0 0px gray;
  letter-spacing: 3px;
}

header h1{
  font-size: 300%;
  text-align: left;
  transform: translate(5%, 15%);
}

header h2{
  text-align: right;
  transform: translate(-15%, -390%);
}

header h3{
  text-align: right;
  transform: translate(-5%, -500%);
}
